<section>
  <h1>User information</h1>
  <div class="description">
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit Blanditiis
      consequatur laudantium, totam libero deleniti pariatur aut unde culpa quod
      perspiciatis sit dolorem,
      <span>fugit aliquam repellendus architecto!</span> Iste qui pariatur,
      molestiae beatae autem perferendis, soluta, fugiat molestias dolores
      commodi eum aspernatur!
    </p>
  </div>
  <table>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Phone</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users$ | async; trackBy: trackByFn">
        <td data-label="Name">{{ item.name }}</td>
        <td data-label="Phone">{{ item.phone }}</td>
        <td data-label="Action">
          <button
            type="button"
            routerLink="/user/{{ item.id }}"
            class="btn btn-primary animated-button"
          >
            დეტალურად
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</section>
